@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p>Aplicación creada por: Nidilson Rodríguez</p>

    <address>
        <strong>Correo:</strong>   <a href="mailto:nidilsonrodriguezcarpio@gmail.com">nidilsonrodriguezcarpio@gmail.com</a><br />
    </address>
</main>