@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Product Manager</h1>
        <p class="lead">Bienvenido de nuevo</p>
    </section>
</main>